@import "./variables";
@import "./menu_burger";
@import "./animations";

// general, Pages : Accueil /

*{
    box-sizing: border-box;
    // text-shadow: 0 0 1px $textshadow; 
}
h3 {
    font-weight: 100;
    letter-spacing:0.2em;
}
a{
    text-decoration: none;
    color: $colorprimary;
    &:visited{
        color: $colorprimary;
    }        
}
body
{
    margin: 0;    
    padding: 0;
    min-width: 380px;
    // max-width: 1400px;
    background: $colorbackground3;    
    font-family: "Roboto", "Avenir", sans-serif;
    font-size: 1em;
    animation: fromUp 1.8s;
    & em{
        font-style:normal;         
        text-shadow: 0 0 2px $textshadow;
    }
    & a {
        font-weight: bold;
    }
}
header{    
    position:sticky;
    background-color: $colorbackground;
    top:0px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        margin: -10px 0 -10px 0;
        width: 70px;
    }
}
#lang {
    background-color: $colorsecondary;        
        border-radius: 20px;
        padding: 0 20px 0 20px;
}

main{
    color: $colorprimary;
    // margin-top: 15px;
    display: flex;
    flex-direction: column;    
}

footer{
    margin-top: 0;
    padding: 10px;
    color: $colorsecondary;
    background-color: $colorbackground4;
    text-align: center;
    & a {
        color: $colorsecondary;
    }
    & p {
        margin-top: 0;
    } 
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}

// Pages    - Accueil -
#intro{
    display: flex;
}
#backgroundimg1 {
    background-image: url("/images/1-accueil/6dispo.webp");
}
.backgroundimg {
    margin: 0;
    width: 100%;
}
#vignette1 {
    background-color: $colorbackground2;
    margin: 60px 60px 0 40px;      
}
#vignette2 {
    background-color: $colorbackground;
    padding: 20px;
    margin: -310px 40px 50px 80px;
    // transform: translateY(-200px);
}
.vignette{
    border-radius: 50px;
    box-shadow: $shadowbox;
    min-height: 350px;     // hum !   Pourrait poser problème ensuite (boutons sur le premier blanc)
    max-width: 450px;  
}
#title {
    padding: 0;
}
#backgroundimg2 {
    background-image: url("/images/1-accueil/10.webp");
    min-height: 400px;
    display: flex;
    justify-content: center;
}
button {
    color: $colorsecondary;
    letter-spacing: 0.3em;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: $colorbackground2;
}
h1{
    padding-top: 100px;
    margin-top: 0;
    color: $colorsecondary;
    font-size: 2em;
}
#secflex{
    margin:-180px 30px 20px 30px;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
}
.flex{
    margin: 20px;  
    background-color: $colorbackground;
    border-radius: 50px;
    width: auto;  //à bosser    
    max-width: 400px;
    & img{
        width: 120px;
    }
}
.flextop{
    padding-top: 20px;
    color: $colorsecondary;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorbackground2;
}
.flexbottom{
    padding: 10px 40px 20px 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

